name: buildx

on:
  workflow_dispatch:
  # pull_request:
  push:
    branches:
      - 'master'

env:
  PLATFORMS: linux/amd64,linux/arm64
  REGISTRY: ghcr.io

jobs:
  buildx:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Set up variable repository name
        run: echo "IMAGE_NAME=${{ github.repository }}" >> $GITHUB_ENV

      - name: Initial image build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          file: Containerfile
          tags: ${{ env.IMAGE_NAME }}:testing
          platforms: ${{ env.PLATFORMS }}
          provenance: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Load Built Image and Get Variables
        id: vars
        run: |
          docker buildx build \
            -f Containerfile \
            -t ${{ env.IMAGE_NAME }}:testing \
            --platform=linux/amd64 \
            --cache-to type=gha,mode=max \
            --cache-from type=gha \
            --load \
            .
          docker run -d ${{ env.IMAGE_NAME }}:testing
          CID=$(docker run -d ${{ env.IMAGE_NAME }}:testing sleep 9999)
          echo "CID=$CID"
          VER_FULL=$(docker exec $CID date +"%Y.%m.%d")
          echo "VER_FULL=$VER_FULL"
          docker rm -f $CID
          echo "VER_FULL=$VER_FULL" >> $GITHUB_ENV
          VER_MAJOR=$(echo $VER_FULL | cut -d. -f-1)
          VER_MINOR=$(echo $VER_FULL | cut -d. -f-2)
          echo "VER_MAJOR=$VER_MAJOR" >> $GITHUB_ENV
          echo "VER_MINOR=$VER_MINOR" >> $GITHUB_ENV

      - name: Image registry login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Buildx and Push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          file: Containerfile
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VER_FULL }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VER_MINOR }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VER_MAJOR }}
          platforms: ${{ env.PLATFORMS }}
          provenance: false
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=image,name=target,annotation-index.org.opencontainers.image.description=NetOps Toolkit - Kubernetes Debugging Container
