name: buildx-on-pr

on:
  pull_request:
  workflow_dispatch:

env:
  PLATFORMS: linux/amd64,linux/arm64
  REGISTRY: ghcr.io

jobs:
  buildx-on-pr:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Set up variable repository name
        run: echo "IMAGE_NAME=${{ github.repository }}" >> $GITHUB_ENV

      - name: Image registry login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Buildx and Push
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6
        with:
          context: .
          file: Containerfile
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:testing
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:testing-${{ github.event.pull_request.number }}
          platforms: ${{ env.PLATFORMS }}
          provenance: false
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=image,name=target,annotation-index.org.opencontainers.image.description=NetOps Toolkit - Kubernetes Debugging Container
